#header {
    border: 1px solid #ccc;
    width: 900px;
}

#header h1 {
    margin-bottom: 0.25em;
}

#header h1, #header ul {
    padding-left: 0;
    margin-left: 10px;
}

#header ul {
    margin-bottom: 0;
    padding-bottom: 0;
}

#header li {
    display: inline;
    border-bottom: 1px solid #ccc;
    margin-right: 0.3em;
}

#header td {
    vertical-align: top;
}

#header .navigation {
    vertical-align: bottom;
}

#content {
    width: 900px;
    float: none;
    background: #fff;
}

#content .headertitle .title {
    font-size: 1.5em;
    margin: 0.5em 0;
    padding: 0.5em;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #ceeeff;
}

#content .headertitle .title:before {
    /* content: "# "; */
}

#content table {
    width: inherit;
}

#content td {
    border: none;
    width: inherit;
    padding: 0.2em;
    border: 1px solid #ccc;
}

/* stuff for the doxygen output */

a.code {
    text-decoration: none;
    font-weight: normal;
    color: #4444ee
}

a.codeRef {
    font-weight: normal;
    color: #4444ee
}

div.fragment {
    width: 98%;
    border: 1px solid #CCCCCC;
    background-color: #f5f5f5;
    padding-left: 4px;
    margin: 4px;
    font-family: monospace;
    font-size: 0.9em;
}

div.fragment .line {
    line-height: 1.5em;
    white-space: pre-wrap;
}

div.ah {
    background-color: black;
    font-weight: bold; color: #ffffff;
    margin-bottom: 3px;
    margin-top: 3px
}

#text td {
    width: auto;
}

div.memdoc {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 40px;
}

div.memproto {
    border: thin solid #ccc;
    background-color: #f2f2ff;
}

td.paramtype {
    color: #602020;
}

#content .memname, #content table.mlabels, #content td.memlabels-left, #content td.memlabels-right {
    border: none;
    font-weight: bold;
}

#content table.memberdecls {
    border: none;
    margin-bottom: 1em;
}

div.groupHeader {
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: bold
}

div.groupText {
    margin-left: 16px;
    font-style: italic;
    font-size: smaller
}

td.indexkey { 
    background-color: #eeeeff; 
    font-weight: bold; 
    padding-right  : 10px; 
    padding-top    : 2px; 
    padding-left   : 10px; 
    padding-bottom : 2px; 
    margin-left    : 0px; 
    margin-right   : 0px; 
    margin-top     : 2px; 
    margin-bottom  : 2px  
}

td.indexvalue { 
    background-color: #eeeeff; 
    font-style: italic; 
    padding-right  : 10px; 
    padding-top    : 2px; 
    padding-left   : 10px; 
    padding-bottom : 2px; 
    margin-left    : 0px; 
    margin-right   : 0px; 
    margin-top     : 2px; 
    margin-bottom  : 2px  
}

tr.memlist {
    background-color: #f0f0f0; 
}

p.formulaDsp {
    text-align: center;
}

img.formulaDsp {

}

img.formulaInl {
    vertical-align: middle;
}

span.keyword {
    color: #008000
}

span.keywordtype {
    color: #604020
}

span.keywordflow {
    color: #e08000
}

span.comment {
    color: #800000
}

span.preprocessor {
    color: #806020
}

span.stringliteral {
    color: #002080
}

span.charliteral {
    color: #008080
}

.mdTable {
    border: 1px solid #868686;
    background-color: #f2f2ff;
}

.mdRow {
    padding: 8px 20px;
}

.mdescLeft {
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
    padding-left: 8px;
    border-top: 1px none #E0E0E0;
    border-right: 1px none #E0E0E0;
    border-bottom: 1px none #E0E0E0;
    border-left: 1px none #E0E0E0;
    margin: 0px;
}

.mdescRight {
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: #FAFAFA;
    padding-left: 4px;
    border-top: 1px none #E0E0E0;
    border-right: 1px none #E0E0E0;
    border-bottom: 1px none #E0E0E0;
    border-left: 1px none #E0E0E0;
    margin: 0px;
    padding-bottom: 0px;
    padding-right: 8px;
}

.memItemLeft {
    padding: 1px 0px 0px 8px;
    margin: 4px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-color: #E0E0E0;
    border-right-color: #E0E0E0;
    border-bottom-color: #E0E0E0;
    border-left-color: #E0E0E0;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: #FAFAFA;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.memItemRight {
    padding: 1px 0px 0px 8px;
    margin: 4px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-color: #E0E0E0;
    border-right-color: #E0E0E0;
    border-bottom-color: #E0E0E0;
    border-left-color: #E0E0E0;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: #FAFAFA;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.search {
    color: #0000ee;
    font-weight: bold;
}

form.search {
    margin-bottom: 0px;
    margin-top: 0px;
}

input.search {
    font-size: 75%;
    color: #000080;
    font-weight: normal;
    background-color: #eeeeff;
}

td.tiny {
    font-size: 75%;
}

#nav-path ul {
    margin-left: 0;
    background: #eee;
    padding: 0.5em;
    border: 1px solid #ddd;
}

#nav-path li {
    display: inline;
}

#nav-path li:not(:last-child):after {
    content: " > ";
}
