<table>
  <tr>
    <td class="left" rowspan="2"><a href="/"><img src="../images/taglib.png" /></a></td>
    <td class="right">
      <h1>TagLib API Documentation</h1>
    </td>
  </tr>
  <tr>
    <td class="right">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="inherits.html">Class&nbsp;Hierarchy</a></li>
        <li><a href="namespaces.html">Namespaces</a></li>
        <li><a href="annotated.html">Classes</a></li>
        <li><a href="files.html">Headers</a></li>
        <li><a href="namespacemembers.html">Namespace&nbsp;Members</a></li>
        <li><a href="functions.html">Class&nbsp;Members</a></li>
        <li><a href="globals.html">File&nbsp;Members</a></li>
      </ul>
    </td>
  </tr>
</table>
