<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %} {{ page.title }} | {% endif %} TagLib</title>
    {% include stylesheets.html %}
  </head>
  <body>
    <div id="container" class="container">
      <div id="navigation" class="well">
        {% if layout.navigation %}
        {% include {{ layout.navigation }} %}
        {% else %}
        {% include navigation.html %}
        {% endif %}
      </div>
      <div id="content" class="well">
        {{ content }}
      </div>
    </div>
  </body>
</html>
