<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>{% if page.title %} {{ page.title }} | {% endif %} TagLib</title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">    
    <link href="taglib.css" rel="stylesheet" type="text/css">    
    <link href="bootstrap/css/bootstrap-responsive.css.css" rel="stylesheet" type="text/css">    
  </head>
  <body>
    <div id="container" class="container">
      <div id="navigation" class="well">
        <a href="index.html"><img src="images/taglib.png" /></a>
        <h3>Files</h3>
        <div id="files">
          {% render files.markdown %}
        </div>
      </div>
      <div id="content" class="well">
        <h1>{% if page.title %} {{ page.title }} {% else %} TagLib {% endif %}</h1>
        {{ content }}
      </div>
    </div>
  </body>
</html>
